/* <section class="casting"> */

.casting
  padding: 75px 0 50px 0

  &__title
    font-size: 34px
    margin-bottom: 30px

  &__description
    max-width: 550px
    margin: 0 auto 30px

  &-progress
    &__wrap
      display: flex
      justify-content: center
      margin-bottom: 35px

    &__block
      text-align: center
      flex-basis: 25%

    &__descr
      font-size: 26px

      span
        font-size: 40px
        font-weight: 700
        display: block
        margin-bottom: 10px
        color: $style-color

  &__btn
    display: block
    margin: 0 auto 25px

  &-img__wrap
    background-color: $body-color
    padding: 35px 50px

  &__projects
    position: absolute
    top: 0
    right: 0

    // border: 1px solid red
