/* <sention class="documents"> */

.documents
  padding: 60px 0 50px
  &__wrap
    background-color: $body-color
    padding: 35px 50px
    display: flex

  &__title
    max-width: 630px
    margin: 0 auto 53px

  &__content
    padding-left: 63px
