/* <sention class="documents"> */

.documents
  padding: 60px 0 50px
  &__wrap
    background-color: $body-color
    padding: 35px 50px
    display: flex

  &__title
    max-width: 630px
    margin: 0 auto 53px

  &__content
    padding-left: 63px

  &-list
    background-color: #01AFEB
    padding: 326px 0 90px 0
    margin-top: -235px
    position: relative
    z-index: -2

    &__wrap
      display: flex
      justify-content: space-between

    &__block
      flex-basis: 20%
      text-align: center

      img
        margin-bottom: 30px

    &__text
      color: #fff
      line-height: 25px

      span
        font-size: 24px
        font-weight: 700
        display: block
        text-transform: uppercase
        margin-bottom: 8px
