/* Повторяющиеся элементы */

$style-color: #F83718

.logo
  width: 190px

.section-title
  font-size: 40px
  font-weight: 700
  text-align: center
  line-height: 46px
  letter-spacing: 0.2px
  text-transform: uppercase

.section-description
  font-size: 16px
  text-align: center
  line-height: 25px
