/*basic settings*/

*
	box-sizing: border-box

body
	font-family: 'Ubuntu', sans-serif
	font-weight: 300
	font-size: 16px
	background-color: #F9F9F9

img
	max-width: 100%

.container
	width: 1164px
	margin: 0 auto
	// border: 1px solid green

a
	color: #000

@import 'interface'
@import 'header'
@import 'hero'
@import 'service'
@import 'casting'
@import 'documents'

@import 'media'
