@charset "UTF-8";
/*basic settings*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #F9F9F9;
}

img {
  max-width: 100%;
}

.container {
  width: 1164px;
  margin: 0 auto;
}

section {
  overflow: hidden;
}

a {
  color: #000;
}

/* Повторяющиеся элементы */
.logo {
  width: 190px;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.section-description {
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}

.module {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.module__img {
  width: 50%;
  box-shadow: 0px 2px 26px -19px #4b4d53;
}
.module__content {
  width: 40%;
  padding-left: 30px;
}
.module__content_right {
  padding-left: 0px;
  padding-right: 30px;
}
.module__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.module__text {
  line-height: 21px;
  margin-bottom: 30px;
}
.module_left {
  position: relative;
}
.module_left::before {
  content: "";
  display: block;
  width: 168px;
  height: 168px;
  background: url(../images/service/module-decor.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  left: -40px;
}
.module_right {
  position: relative;
}
.module_right::before {
  content: "";
  display: block;
  width: 168px;
  height: 168px;
  background: url(../images/service/module-decor.svg) center no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0px;
  right: -40px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #F83718;
  padding: 10px 30px;
}

.add-project {
  padding: 30px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 300;
  box-shadow: 0px 2px 26px -19px #4b4d53;
  height: 75px;
  overflow: hidden;
}
.add-project:hover {
  height: auto;
}
.add-project__select {
  font-size: 20px;
  letter-spacing: 1.1px;
  margin-bottom: 25px;
}
.add-project__list {
  margin-bottom: 25px;
}
.add-project__list li {
  margin-bottom: 15px;
}
.add-project__list li:last-child {
  margin-bottom: 0;
}
.add-project__btn {
  font-size: 14px;
  padding: 10px 25px;
  letter-spacing: 1.1px;
  border: 1px solid #01AFEB;
  color: #01AFEB;
}

.block-decor {
  position: relative;
  background-color: #F9F9F9;
  padding: 35px 50px;
}
.block-decor::before {
  content: "";
  display: block;
  width: 168px;
  height: 168px;
  background: url(../images/casting/decor.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -28px;
  left: -28px;
  z-index: -1;
}
.block-decor::after {
  content: "";
  display: block;
  width: 168px;
  height: 168px;
  background: url(../images/casting/decor.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  top: -28px;
  right: -28px;
  z-index: -1;
}
.block-decor_big {
  padding: 55px 35px;
  background-color: #fff;
}
.block-decor_big::before {
  content: "";
  display: block;
  width: 168px;
  height: 168px;
  background: url(../images/casting/decor-white.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -28px;
  left: -28px;
  z-index: -1;
}

/* <header class="header"> */
.header {
  padding: 20px 0;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.navigation a {
  margin-right: 40px;
}
.navigation a:last-child {
  margin-right: 0;
}
.navigation-mob {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.navigation-mob__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}
.navigation-mob__nav a {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.navigation-mob__nav a:last-child {
  margin-bottom: 0;
}
.navigation-mob__btn {
  display: none;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  margin: 0 auto;
}
.navigation-mob__btn::after {
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  top: -7px;
}
.navigation-mob__btn::before {
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  top: 7px;
}

.switch-group {
  background-color: #F0F0F0;
  padding: 4px;
  border-radius: 12px;
}
.switch-btn {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 15px;
}
.switch-btn_active {
  background-color: #fff;
  color: #000;
}

/* <section class="hero"> */
.hero {
  background-color: #F83718;
  padding: 90px 0;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  flex-basis: 50%;
  color: #fff;
}
.hero__title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
  max-width: 535px;
  line-height: 59px;
}
.hero__text {
  font-weight: 400;
  max-width: 445px;
  margin-bottom: 25px;
  line-height: 24px;
}
.hero__text:last-child {
  margin-bottom: 0;
}
.hero-img {
  flex-basis: 50%;
  text-align: right;
}

/* <section class="service"> */
.service {
  padding-top: 100px;
}
.service__title {
  max-width: 538px;
  margin: 0 auto 32px;
}
.service__title a {
  color: #F83718;
}
.service__description {
  max-width: 580px;
  margin: 0 auto 70px;
}
.service-progress__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.service-progress__block {
  text-align: center;
  flex-basis: 25%;
}
.service-progress__block img {
  margin-bottom: 22px;
}
.service-progress__descr {
  font-size: 26px;
}
.service-progress__descr span {
  font-size: 40px;
  font-weight: 700;
  display: block;
  margin-bottom: 13px;
  color: #F83718;
}

/* <section class="casting"> */
.casting {
  padding: 75px 0 50px 0;
}
.casting__title {
  font-size: 34px;
  margin-bottom: 30px;
}
.casting__description {
  max-width: 550px;
  margin: 0 auto 30px;
}
.casting-progress__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.casting-progress__block {
  text-align: center;
  flex-basis: 25%;
}
.casting-progress__descr {
  font-size: 26px;
}
.casting-progress__descr span {
  font-size: 40px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
  color: #F83718;
}
.casting__btn {
  display: block;
  margin: 0 auto 25px;
}
.casting-img__wrap {
  background-color: #fff;
  padding: 35px 50px;
}
.casting__projects {
  position: absolute;
  top: 0;
  right: 0;
}

/* <sention class="documents"> */
.documents {
  padding: 60px 0 0;
}
.documents__wrap {
  background-color: #F9F9F9;
  padding: 35px 50px;
  display: flex;
}
.documents__title {
  max-width: 630px;
  margin: 0 auto 53px;
}
.documents__content {
  padding-left: 63px;
}
.documents-list {
  background-color: #01AFEB;
  padding: 326px 0 90px 0;
  margin-top: -235px;
  position: relative;
  z-index: -2;
}
.documents-list__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.documents-list__block {
  flex-basis: 20%;
  text-align: center;
}
.documents-list__block img {
  margin-bottom: 30px;
}
.documents-list__text {
  color: #fff;
  line-height: 25px;
}
.documents-list__text span {
  font-size: 23px;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  margin-bottom: 8px;
}

/* //////////////////////////// */
/** Hover **/
@media (min-width: 992px) {
  .button:hover {
    background-color: #8c1517;
    color: #fff;
  }
}
/** Media **/
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .hero__title {
    font-size: 42px;
  }
  .service-progress__wrap {
    justify-content: space-between;
  }
  .casting-progress__wrap {
    justify-content: space-between;
  }
  .documents-module__title {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .header-wrapper {
    flex-wrap: wrap;
  }
  .switch-btn {
    font-size: 12px;
    padding: 10px;
  }
  .navigation {
    display: none;
  }
  .navigation-mob__btn {
    display: block;
  }
  .hero-wrapper {
    flex-direction: column;
  }
  .hero-content {
    margin-bottom: 35px;
  }
  .hero__text {
    max-width: 100%;
  }
  .module_left::before, .module_right::before {
    display: none;
  }
  .module__img {
    width: 50%;
  }
  .module__content {
    width: 50%;
  }
  .block-decor_big {
    padding: 0;
  }
  .block-decor_big::before, .block-decor_big::after {
    display: none;
  }
  .documents__module {
    flex-direction: column-reverse;
  }
  .documents__module_img {
    width: 70%;
    margin-bottom: 50px;
  }
  .documents__content {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 30px;
  }
  .documents-list {
    margin-top: 0;
    padding: 50px 0 90px 0;
  }
  .documents-list__block {
    flex-basis: 40%;
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .logo {
    width: 120px;
  }
  .hero {
    padding: 65px 0;
  }
  .service {
    padding-top: 65px;
  }
  .service__title {
    font-size: 34px;
    line-height: 41px;
  }
  .service-progress__wrap {
    flex-direction: column;
  }
  .service-progress__block {
    margin-bottom: 30px;
  }
  .service-progress__block:last-child {
    margin-bottom: 0;
  }
  .module {
    flex-direction: column;
  }
  .module__img {
    width: 100%;
  }
  .module__content {
    width: 80%;
    order: -1;
    margin-bottom: 35px;
  }
  .casting {
    padding-top: 65px;
  }
  .casting-progress__wrap {
    flex-direction: column;
  }
  .casting-progress__block {
    margin-bottom: 40px;
  }
  .casting-progress__block:last-child {
    margin-bottom: 0;
  }
  .documents__title {
    font-size: 34px;
    line-height: 41px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 95%;
  }
  .hero__title {
    font-size: 28px;
    text-align: center;
    line-height: 41px;
  }
  .service__title {
    font-size: 25px;
    line-height: 33px;
  }
  .service__description {
    margin: 0 auto 35px;
  }
  .module__img {
    display: none;
  }
  .module__content {
    width: 100%;
    margin-bottom: 0px;
    padding-left: 10px;
  }
  .module__title {
    line-height: 1.2;
  }
  .documents__title {
    font-size: 25px;
    line-height: 33px;
  }
  .documents__content {
    margin-bottom: 40px;
  }
  .documents-list__block {
    flex-basis: 100%;
  }
}