@charset "UTF-8";
/*basic settings*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

img {
  max-width: 100%;
}

section {
  padding: 7% 0;
}

.container {
  width: 1164px;
  margin: 0 auto;
}

a {
  color: #000;
}

/* Повторяющиеся элементы */
.logo {
  width: 190px;
}

/* <header class="header"> */
.header {
  padding: 20px 0;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.navigation a {
  margin-right: 40px;
}
.navigation a:last-child {
  margin-right: 0;
}
.navigation-mob {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.navigation-mob__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}
.navigation-mob__nav a {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.navigation-mob__nav a:last-child {
  margin-bottom: 0;
}
.navigation-mob__btn {
  display: none;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  margin: 0 auto;
}
.navigation-mob__btn::after {
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  top: -7px;
}
.navigation-mob__btn::before {
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  top: 7px;
}

.switch-group {
  background-color: #F0F0F0;
  padding: 4px;
  border-radius: 12px;
}
.switch-btn {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 15px;
}
.switch-btn_active {
  background-color: #fff;
  color: #000;
}

/* //////////////////////////// */
/** Hover **/
@media (min-width: 992px) {
  .button:hover {
    background-color: #8c1517;
    color: #fff;
  }
}
/** Media **/
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .header-wrapper {
    flex-wrap: wrap;
  }
  .navigation {
    flex-basis: 100%;
    text-align: center;
    margin-top: 30px;
    order: 2;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .logo {
    width: 120px;
  }
  .switch-btn {
    font-size: 12px;
    padding: 10px;
  }
  .navigation {
    display: none;
  }
  .navigation-mob__btn {
    display: block;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}